<div>
    Таблица ошибок
</div>

<div>
    <table class="table">
        <tr>
            <th>Дата</th>
            <th>Пользователь</th>
            <th>Содержание</th>
            <th>Подробнее</th>
        </tr>
        {% Для Каждого ТекОтчет из Модель.Отчеты Цикл %}
        <tr>
            <td>{{ТекОтчет.Дата}}</td>
            <td>{{ТекОтчет.Пользователь}}</td>
            <td>{{Лев(ТекОтчет.Ошибка, 10)}}...</td>
            <td><a href="report/{{ТекОтчет.Идентификатор}}">Перейти...</a></td>
        </tr>
        {% КонецЦикла; %}
        </tbody>        
    </table>
</div>