
{% Если Модель.Отчет = Неопределено Тогда %}

<div>
    <h3>Отчет не найден</h3>
</div>
{% Иначе %}
<div>
    <h3>Отчет об ошибке №{{Модель.Отчет.Идентификатор}}</h3>
</div>

<div>
    Дата: {{Модель.Отчет.Дата}}
</div>

<div>
    Пользователь: {{Модель.Отчет.Пользователь}}
</div>

<div>
    Ошибка: {{Модель.Отчет.Ошибка}}
</div>

<div>
    Комментарий: {{Модель.Отчет.Комментарий}}
</div>

<div>
    Скрин:
</div>
<img src="/files/s/{{Модель.Отчет.Идентификатор}}.png" width="1000" height="1000">
{% КонецЕсли; %}
